certifi==2020.12.5
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
fastapi~=0.63.0
google-pasta==0.2.0
grpcio
grpcio-tools==1.35.0
ipycanvas==0.7.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
jsonschema==3.2.0
matplotlib==3.3.4
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
netifaces==0.10.9
notebook==6.2.0
numpy~=1.19.2
opencv-python==4.5.1.48
Pillow~=8.0.0
pycurl==7.43.0.6
pydantic
python-dateutil==2.8.1
python-dotenv
python-multipart==0.0.5
uvicorn~=0.13.3
uvloop==0.14.0
watchdog==2.0.2

setuptools~=52.0.0
pyntcloud~=0.1.4
pandas~=1.2.2
imutils~=0.5.4
scipy~=1.6.0
image_slicer
scikit-learn==0.24.1
odfpy
